output/g2-test1.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 俳句ジェネレーター
  use_icon_as_answer_icon: false
kind: app
version: 0.1.5
workflow:

  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1736388745406-source-1736388748511-target
      source: '1736388745406'
      sourceHandle: source
      target: '1736388748511'
      targetHandle: target
    nodes:
    - data:
        desc: ''
        selected: true
        title: 開始
        type: start
        variables: []
      id: '1736388745406'
      position:
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: o1-mini
          provider: openai
        prompt_template:
        - role: system
          text: ''
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      id: '1736388748511'
