sample/workflow/test_lv3.yml
app:
  mode: workflow
  name: [ワークフローの名前]
  version: 0.1.5

workflow:
  graph:
    edges:
    - source: start1
      target: llm1
      data:
        sourceType: start
        targetType: llm
      sourceHandle: source
    - source: llm1
      target: end1
      data:
        sourceType: llm
        targetType: end
      sourceHandle: source

    nodes:
    - data:
        type: start
        title: 開始
        desc: 'ユーザーからの入力を受け取る'
        variables:
        - label: input
          max_length: 99999
          options: []
          required: true
          type: paragraph
          variable: input
      id: 'start1'

    - data:
        type: llm
        title: LLM
        model:
          provider: openai
          name: gpt-4o-mini
          mode: chat
          completion_params:
            temperature: 0.7
        prompt_template:
        - role: system
          text: '{{#start1.input#}} ユーザーからの入力を受け取り、その単語数を数えて返します。'
        context:
          enabled: true
          variable_selector:
          - 'start1'
          - input
        vision:
          enabled: false
      id: 'llm1'

    - data:
        outputs:
        - value_selector:
          - 'llm1'
          - text
          variable: generatedText
        type: end
        title: 終了
      id: 'end1'